<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Main -->
    <main>

        <h1>Appwrite Login</h1>

        <div id="materialForm">

            <br>
            <br>
            <label for="aw-email">Email:</label>
            <input type="text" id="aw-email" style="width: 22em">
            <br>

            <label for="aw-password">Password:</label>
            <input type="text" size="80" id="aw-password" style="width: 20em">
            <br>
            <br>

            <label for="lbl-status">Status: </label>
            <label id="lbl-status" style="width: 20em"> Not logged in.</label>
            <br> <br>

            <button id="btn-login" type="submit" class="btn-login" display="inline-block">Login</button>
            <button id="btn-logout" type="submit" class="btn-logout" display="inline-block">Logout</button>

            <br>
            <br>
            <label id="error-message">This is an error message.</label>
        </div>

    </main>
    <!-- end of Main -->
</body>

</html>